/Local/node_modules
/CDN/node_modules
/Local/package-lock.json
/Local/yarn.lock
/CDN/yarn.lock
/Local/.vscode
/audience_view/Local/node_modules
/audience_view/Local/package-lock.json
/audience_view/Local/yarn.lock
/audience_view/Local/.vscode
/SpeakerView/Local/node_modules
/SpeakerView/Local/package-lock.json
/SpeakerView/Local/yarn.lock
/SpeakerView/Local/.vscode
