/Local/node_modules
/CDN/node_modules
/Local/package-lock.json
/Local/yarn.lock
/CDN/yarn.lock
/Local/.vscode
/audience_view/Local/node_modules
 /audience_view/Local/package-lock.json 
/audience_view/Local/yarn.lock 
/audience_view/Local/.vscode 
